<div class="login-box">
	<div class="login">
		<ng-container *ngIf="!isNewAccount; else elseTemplateNewAccount">
			<div class="cardTitle">
				<div class="title">Wi<span style="text-decoration: underline;">se</span>ller</div>
				<div class="subTitle">Login</div>
			</div>
		</ng-container>
		<ng-template #elseTemplateNewAccount>
			<div class="cardTitle">
				<div class="title">
					<p>wi<span style="text-decoration: underline;">se</span>ller</p>
				</div>
				<div class="subTitle">Create account</div>
			</div>
		</ng-template>

		<br />

		<form [formGroup]="loginForm" *ngIf="!isNewAccount">
			<app-input-container>
				<input
					type="text"
					formControlName="email"
					class="form-control"
					placeholder="E-mail"
					autofocus
				/>
			</app-input-container>

			<app-input-container>
				<input
					type="password"
					formControlName="password"
					class="form-control"
					placeholder="Password"
				/>
			</app-input-container>

			<button
				(click)="login()"
				class="btn btn-primary btn-lg btn-block btnentrar"
				[disabled]="loginForm.invalid"
			>
				Entrar
			</button>
			<hr />
			<h3>Novo no Wi<span style="text-decoration: underline;">se</span>ller?</h3>
			<button
				(click)="changeToNewAccount()"
				class="btn btn-secondary btn-block btnNewAccount"
			>
				Crie sua conta
			</button>
		</form>

		<form [formGroup]="newAccountForm" *ngIf="isNewAccount">
			<app-input-container>
				<input
					type="text"
					formControlName="nome"
					class="form-control"
					placeholder="Name"
					autofocus
				/>
			</app-input-container>

			<app-input-container>
				<input
					type="text"
					formControlName="email"
					class="form-control"
					placeholder="E-mail"
					email
				/>
			</app-input-container>
			<app-input-container>
				<input
					type="password"
					formControlName="password"
					class="form-control"
					placeholder="Password"
				/>
			</app-input-container>

			<button
				(click)="newAccount()"
				class="btn btn-primary btn-lg btn-block btnentrar"
				[disabled]="newAccountForm.invalid"
				*ngIf="showButton"
			>
				Crie sua conta
			</button>
			<hr />
			<h3>Já tem uma conta?</h3>
			<button
				(click)="changeToLogin()"
				class="btn btn-secondary btn-block btnNewAccount"
			>
				Faça login
			</button>
		</form>
	</div>
</div>
<div class="bg-img"></div>
