:root {
	--backgroundColorLight:#fff;
	--background: #ecebeb;
	/* --background: #efefed; */
	--backgroundColor: #606060;
	--backgroundColorMoreDark: #5b6d80;

	--colorPrimary: #2a004f;

	--backgroundButton: #2a004f;
	--backgroundButtonHover: #1a0030;
	--backgroundButtonDisabled: #1c0035;
	--backgroundButtonDisabledColor: #8e8c94;
	--backgroundButtonColor: #fff;

	--primary: #2a004f;

	--icons: #6c7883;

	/* --backgroundComponents: #182533; */
	--backgroundComponents: #2a004f;
	--backgroundComponentsColor: #cbd7e1;

	--backgroundInput: #dfe1e5;
	--backgroundInputColor: #2a004f;

	--backgroundButtonSecondary: #b3b3b3;
	--backgroundButtonColorSecondary: #fff;

	--backgroundSecondary: #00eb84;
	--backgroundSecondaryHover: #00c972;
	--backgroundSecondaryColor: #fff;

	--card-lightBackground: #fff;
	--card-lightColor: #636363;

	/* --backgroundButton: #04d361;
    --backgroundButtonHover: #0df576;
    --backgroundButtonDisabled: #95fcc1;
    --backgroundButtonDisabledColor: #212025;
    --backgroundButtonColor: #fff;
	--primary: #04d361; */
}
